
<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
        <button mat-icon-button>
            </button>
            
            <div><span>Ethot shop</span></div>
            
            <span class="menu-spacer"></span>
            <div>
            <a mat-button [routerLink]="'/home'">Home</a>
            <a *ngIf="session" mat-button [routerLink]="'/products'">Products</a>
            <a mat-button [routerLink]="'/mission-vision'"> Mission and vision </a>
            <a mat-button [routerLink]="'/contact'"> Contact us </a>
            <a *ngIf="session">Welcome {{username}}</a>
            <a *ngIf="session" mat-button (click)="logout()"> Logout </a>
            
            </div>
        <span class="nav-tool-items">
          <a *ngIf="!session" mat-button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
              <mat-icon>account_circle</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="register" routerLinkActive="active">
                  <mat-icon>person_add</mat-icon>
                  <a >Sign up</a>
                </button>
              <button mat-menu-item routerLink="login" routerLinkActive="active">
                <mat-icon>face</mat-icon>
                <a >Log in</a>
              </button>
            </mat-menu>
        </span>
      </mat-toolbar>   