<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div><span>Ethot site</span></div>
    <span class="nav-tool-items">
      <a mat-button mat-raised-button [matMenuTriggerFor]="menu" color="primary">
          <mat-icon>account_circle</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="register" routerLinkActive="active">
              <mat-icon>person_add</mat-icon>
              <a >Sign up</a>
            </button>
          <button mat-menu-item routerLink="login" routerLinkActive="active">
            <mat-icon>face</mat-icon>
            <a >Log in</a>
          </button>
        </mat-menu>
    </span>
  </mat-toolbar>
  
<app-products></app-products>
<router-outlet></router-outlet>